{% extends 'base.html' %}


{% block content %}


<div class="bg-black">
<h1 style="font-size: 40px;  margin-left: 30px; " class=" text-white p-2">
    Добавить комментарий
 </h1>

 <div class="container text-black ">
    <div class="text-black">
     <form class=" background-color-black " action="" method="post" >

         {% csrf_token %}
         {{ form.as_p }}
         <input class="w3-button bg-blue w3-round-xlarge w3-teal " type="submit" name="Submit" value="отправит">
        
       
     </form>
    </div>
 </div>
</div>


{% endblock %}


