{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="text-gray-400 bg-black body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 h-screen">
          <div class="max-h-50 md:h-screen">
            <div class="containere">
                <div class="img-containere">
                    <img class="w-screen h-screen object-cover object-top"
                    src="{% static 'images/aman.jpg' %}"
                    alt="">
                </div>
                <ul class="social-media">
                  <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-tiktok"></ion-icon></a></li>
                  </ul>
                 
              </div>
              <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
              <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
          </div>
          <div class="flex bg-gray-900 p-10">
              <div class="mb-auto mt-auto max-w-lg">
                  <h1 class="text-3xl uppercase">Аман Узакбаев</h1>
                  <p class="font-semibold mb-5">Меня зовут Аман, я родился 29 октября 2006 года. Меня очень интересуют компьютеры, электроника и информационные технологии. Меня интересует все, что связано с технологиями, и я считаю, что будущее за искусственным интеллектом. Я считаю, что если мы сможем создать машины, способные думать и учиться, как люди, мир станет лучше. Я создаю этот сайт со своими друзьями, это Джабдарбек и Мухаммад Юсуф, я добавил на этот сайт: панель поиска, панель комментариев, панель пагинации, регистрацию, добавление фильма,</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">E-mail : uzaqbaevaman0@gmail.com</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Телл : 93 323-75-44</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Адрес : Нукус</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Ден рождения : 29.10.2006</p>
                
                
              </div>
              
          </div>
          
      </div>
  </div>
  </div>
</section>
<section class="text-gray-400 bg-black body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 h-screen">
          <div class="max-h-50 md:h-screen">
            <div class="containere">
                <div class="img-containere">
                    <img class="w-screen h-screen object-cover object-top"
                    src="{% static 'images/dev.jpg' %}"
                    alt="">
                </div>
                <ul class="social-media">
                  <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-tiktok"></ion-icon></a></li>
                  </ul>
                 
              </div>
              <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
              <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
          </div>
          <div class="flex bg-gray-900 p-10">
              <div class="mb-auto mt-auto max-w-lg">
                  <h1 class="text-3xl uppercase">Мухаммад Юсуф</h1>
                  <p class="font-semibold mb-5">Веб-разработчик</p>
                  <p>Меня зовут Мухаммад Юсуф, и я родился 2 ноября 2010 года. Я очень увлечен компьютерами, электроникой и IT. Я интересуюсь всем, что связано с технологиями, и считаю, что будущее принадлежит искусственным интеллектам. Я уверен, что мир будет еще более удивительным, когда мы сможем создать машины, способные думать и учиться так же, как и люди. Я очень рад, что я живу в эпоху, когда технологии развиваются так быстро, и я не могу дождаться, чтобы узнать, что нас ждет в будущем!.</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">E-mail :</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Телл : 99 211-80-26</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Адрес : Нукус</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Ден рождения : 02.11.2010</p>
              </div>
              
          </div>
      </div>
  </div>
  </div>
</section>


<section class="text-gray-400 bg-black body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 h-screen">
          <div class="max-h-50 md:h-screen">
            <div class="containere">
                <div class="img-containere">
                    <img class="w-screen h-screen object-cover object-top"
                    src="{% static 'images/jandarbek.jpg' %}"
                    alt="">
                </div>
                <ul class="social-media">
                  <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-tiktok"></ion-icon></a></li>
                  </ul>
                 
              </div>
              <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
              <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
          </div>
          <div class="flex bg-gray-900 p-10">
              <div class="mb-auto mt-auto max-w-lg">
                  <h1 class="text-3xl uppercase">Жандарбек</h1>
                  <p class="font-semibold mb-5">Веб-разработчик</p>
                  <p>Меня зовут Жандарбек, я родился 6 декабря 2008 года. Меня очень интересуют компьютеры, электроника и информационные технологии. Меня интересует все, что связано с технологиями, и я считаю, что будущее за искусственным интеллектом. Я считаю, что если мы сможем создать машины, способные думать и учиться, как люди, мир станет лучше. Я создаю этот сайт со своими друзьями, это Аман и Мухаммад Юсуф, я добавил на этот сайт: шапку, футер, слаг, добавить видео</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">E-mail : zandarbekalimzanov60@gmail.com</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Телл : 90 662-35-37</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Адрес : Нукус : Саранша</p>
                  <p class="bg-blue-700 rounded-md py-3 px-1 mt-6 text-white">Ден рождения : 06.12.2008</p>
              </div>
              
          </div>
      </div>
  </div>
  </div>
</section>
{% endblock %}