
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/dada.css' %}">
    <title>KinoLife</title>
</head>
<body>

{% include 'header.html' %}




{% block content %}

{% endblock %}

{% include 'footer.html' %}



  
</body>
</html>